<a href="https://colab.research.google.com/github/Iam-whizzy/PythonforDataScience/blob/main/InferentialStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv("https://modcom.co.ke/data/datasets/schoolcleaned.csv", parse_dates=["bday", "enrolldate", "expgradate"])
data

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime,Performance,Total
0,0,43783,1995-03-22,2014-08-04,2019-05-13,Unknown,uknown,Male,Non-Athlete,217.050000,...,60.02,81.440000,In state,On Campus,Other,27.149573,7.0,1.0,Failed,222.960000
1,29,20230,1996-01-02,2014-08-04,2020-05-11,Freshmen,pre-pharma,Male,Athlete,240.330000,...,65.36,76.070000,In state,On Campus,Other,27.149573,8.0,3.0,Failed,217.030000
2,30,21083,1995-12-22,2014-08-04,2020-05-11,Freshmen,uknown,Female,Non-Athlete,216.150000,...,68.53,71.420000,In state,Off Campus,Car,26.000000,5.0,3.0,Failed,226.870000
3,31,21939,1995-12-12,2014-08-04,2020-05-11,Freshmen,uknown,Male,Athlete,198.270000,...,61.61,79.521683,In state,Off Campus,Car,39.000000,6.0,5.0,Failed,222.231683
4,32,23017,1995-11-29,2014-08-04,2020-05-11,Freshmen,uknown,Unknown,Non-Athlete,215.160000,...,65.25,72.610000,In state,Off Campus,Bike,8.000000,8.0,4.0,Failed,222.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,430,34021,1987-07-18,2011-08-01,2017-05-08,Senior,accounting,Female,Non-Athlete,204.095294,...,65.31,79.521683,In state,Off Campus,Walk,18.000000,1.0,10.0,Failed,229.821683
403,431,40697,1987-04-29,2011-08-01,2016-05-09,Senior,uknown,Male,Non-Athlete,205.500000,...,70.25,82.670000,In state,Off Campus,Car,26.000000,6.0,15.0,Passed,239.790000
404,432,34272,1993-05-25,2011-08-01,2016-05-09,Senior,nursing,Male,Athlete,204.300000,...,58.16,81.870000,Unknown,Off Campus,Car,29.000000,6.0,10.0,Failed,225.790000
405,433,33628,1993-05-25,2011-08-01,2017-05-08,Senior,nursing,Female,Athlete,207.810000,...,66.84,79.350000,In state,Off Campus,Walk,14.000000,4.0,10.0,Failed,232.160000
406,434,39298,1993-05-25,2011-08-01,2017-05-08,Senior,uknown,Female,Athlete,200.040000,...,60.24,75.230000,In state,Off Campus,Car,27.000000,2.0,10.0,Failed,212.710000

In [ ]:
#Types of inferential stats
#1. One Sample T-Test: Whether a sample represents a population
#Population: Represents the entire group (Expensive and Time Consuming)
#Sample: A portion of data that is evenly distributed to rep a population

In [ ]:
#Get population mean
math_students_popu_mean = data['Math'].mean()
math_students_popu_mean

65.58251627327456

In [ ]:
#Take the sample20 (samples)
math_sample = data['Math'].sample(20)
math_sample

328    58.31
191    69.47
261    61.43
314    46.14
46     72.52
319    64.89
59     48.06
266    69.90
283    69.11
117    54.73
18     57.48
384    68.66
55     72.56
150    65.43
392    62.85
60     59.89
402    65.31
399    59.03
119    60.76
19     75.66
Name: Math, dtype: float64

In [ ]:
#Hypothesis Formulation
# Null HYpothesis(Ho): The sample represents the population
#ALternative HYpothesis(H1) THe sample not rep the population
#Goal: ACCEPT OR REJECT NULL HYP

from scipy.stats import ttest_1samp

statistic, pvalue = ttest_1samp(a=math_sample, popmean = math_students_popu_mean)
print(pvalue)


if pvalue > 0.05:
  print('NUll Hypothesis accepted')
else:
  print('NUll Hypothesis Rejected')

0.17610430764934265
NUll Hypothesis accepted

In [ ]:
#If alpha increases from 0.05 then we accept the null hypothesis

In [ ]:
#Two sample:
#The school wanted to know if there is a dignificant difference in average performance between male and female students
#Define hypothesis:
#NUll HYpothesis:  There is no significant difference
#ALternate: There is a significant difference

#Project to Try
#Environment Science(Climate Change): Test if there is significant increase in global
#temperatures over time( GLobal HIstorical  Climatology Network MOnthly) GHCN - M data

#Split data into male and female students
male_students = data[data['Gender'] == 'Male']
female_students = data[data['Gender'] == 'Female']


male_students

In [ ]:
female_students.count()
#male -> 209

In [ ]:
male_students.count()
#Female -> 209

In [ ]:
from scipy.stats.distributions import alpha
#Perform to two sample on performance
from scipy.stats import ttest_ind
statistic, pvalue = ttest_ind(male_students['Reading'], female_students['Reading'])

alpha = 0.05

if pvalue > alpha:
  print('Accept the Null: THe perfomance for both genders is the same')
else:
    print('Reject the Null: THe perfomance for both genders have a signigicant difference')

Accept the Null: THe perfomance for both genders is the same

In [ ]:
#Paul Nemenyi: nemenyi post hoc testIdentify the difference
#ANOVA: ANalysis of variance
#Machine Learning: Predictive ANalysis* used to predict the future trends